langchain==0.3.25
langchain_core==0.3.65
langchain_google_genai==2.1.5
langchain_groq==0.3.2
langfuse==3.0.3
langgraph==0.4.8
pymongo==4.13.2
python-dotenv==1.1.0
Requests==2.32.4
streamlit==1.45.1
loguru
typing-extensions
rich